.DS_Store
.ipynb_checkpoints/
data/
Clustering/Unsupervised Learning - K-Means and DBSCAN.ipynb
Dataset Processing/Introduction to Dataset Processing.ipynb
neural_networks/Understanding Neural Networks - Perceptrons and Sigmoid Neurons.ipynb
neural_networks/tensorflow-for-poets-2/
neural_networks/Keras Neural Network Tutorial.ipynb

